img {
  width: 300px;
}

#face {
  width: 600px;
  justify-content: center;
}



#mouth2 {
  position: absolute;
left: 200;
top:500;
width: 200;
}


#ears1 {
  position: absolute;
 left: 02px;
 top: 50px;
 width: 600px;
  
}

#eyes1 {
position: absolute;
left: 165;
top: 300;
width: 300;
}

#hair1 {
  position: absolute;
left: 106;
top:80;
width: 400;
}

#hat {
  position: absolute;
left: 110;
top:-30;
width: 400;
}

#nose1 {
  position: absolute;
left: 265;
top:400;
width: 80;
}



